/* Base styles, normal and highlighted */

/* --------------------------------------------- */
/* Base styles */
/* --------------------------------------------- */
.link,
.leaf {
  transition: 
    stroke-opacity 200ms ease,
    fill-opacity 200ms ease,
    stroke-width 200ms ease;
}
.leaf {
  stroke-width: 0;
  /* color of leaf defined by node.data in RenderTree */
}

.link {
  stroke-width: 1;
  stroke: #999;
}

/* --------------------------------------------- */
/* Highlighted styles (from prop `highlighted`) */
/* --------------------------------------------- */

.leaf.highlighted {
  stroke-width: 0.7;
}


.branch:has(.leaf.highlighted) > .link{
  stroke-width: 2;
  stroke: #666;
}

/* --------------------------------------------- */
/* Hover styles */
/* --------------------------------------------- */

/* When tree hovered, dim all links and leaves */
.tree:hover .link,
.tree:hover .leaf {
  stroke-opacity: 0.2;
  fill-opacity: 0.2;
}

/* Restore hovered leaf, or all descendant leaves */
.tree:hover .leaf:hover,
.link:hover + .node .leaf {
  fill-opacity: 1;
  stroke-opacity: 1;
}

/* On hover restore links back up to root, and any descendant link */
.branch:hover > .link,
.link:hover + .node .link {
  stroke-opacity: 1;
  /* stroke-width: 2; */
}
