.link, .leaf {
  transition: all 200ms ease-in-out;
}

.tree:hover .link {
  stroke-opacity: 0.2;

}

.tree:hover .leaf {
  fill-opacity: 0.2;
  stroke-opacity: 0.2;
}

.tree:hover .leaf:hover{
  fill-opacity: 1;
  stroke-opacity: 1;
}

/* restore on links up to root */
.node:hover > .branch > .link {
  stroke-opacity: 1;
}

/* normal 0 stroke */
.leaf {
  stroke-width: 0;
}
/* 0.5 if leaf selected */
.highlighted.leaf {
  stroke-width: 0.6;
}

.link, .tree:hover .link {
  stroke-width: 1;
}

.highlighted.link {
  stroke-width: 2;
}

/* need to undo link highlighting when tree hovered */