/* Base styles, normal and highlighted */
.link,
.leaf {
  transition: 
    stroke-opacity 200ms ease,
    fill-opacity 200ms ease,
    stroke-width 200ms ease;
}
.leaf {
  stroke-width: 0;
}

.leaf.highlighted {
  stroke-width: 0.6;
}

.tree:hover .leaf.highlighted {
  stroke-width: 0;
}

.link {
  stroke-width: 1;
}

.branch:has(.leaf.highlighted) > .link{
  stroke-width: 2;
}

.tree:hover .link.highlighted {
  stroke-width: 1;
}

/* Hover logic */
/* When tree hovered, dim all links and leaves */
.tree:hover .link,
.tree:hover .leaf {
  stroke-opacity: 0.2;
  fill-opacity: 0.2;
}

/* Restore hovered leaf, or all descendant leaves */
.tree:hover .leaf:hover,
.link:hover + .node .leaf {
  fill-opacity: 1;
  stroke-opacity: 1;
}

/* On hover restore links back up to root, and any descendant link */
.branch:hover > .link,
.link:hover + .node .link {
  stroke-opacity: 1;
  stroke-width: 2;
}
