.link,
.leafLabel,
.linkExtension {
  transition: opacity 200ms ease-in-out;
}

/* --------------------------------------------- */
/* Hover styles */
/* --------------------------------------------- */

/* When tree hovered, dim all links and leaves */
.tree:hover {

  .leafLabel,
  .link,
  .linkExtension {
    opacity: 0.2;
  }
}

/* Restore leafGroup label and extension on hover or on all descendants of hovered link */
.leafGroup:hover,
.link:hover+.node {
  .leafLabel,
  .linkExtension {
    opacity: 1;
  }
}

/* On hover restore links back up to root, and any descendant link */
.branch:hover>.link,
.link:hover+.node .link {
  opacity: 1;
}