/* --------------------------------------------- */
/* Base styles */
/* --------------------------------------------- */
.link,
.leaf {
  transition: 
    stroke-opacity 200ms ease-in-out,
    fill-opacity 200ms ease-in-out,
    stroke-width 200ms ease-in-out;
}
.leaf {
  stroke-width: 0;
  /* color of leaf defined by node.data in RenderTree */
}

.link {
  stroke-width: var(--link-stroke-width, 1px);
}

/* --------------------------------------------- */
/* Highlighted styles (from prop `highlighted`) */
/* --------------------------------------------- */

.leaf.highlighted {
  stroke-width: 0.7;
}

/* This was the important property to save on compute by avoiding traversing node.leaves() for each link using js */
.branch:has(.leaf.highlighted) > .link{
   stroke-width: calc(var(--link-stroke-width, 1px) * 2);
}

/* --------------------------------------------- */
/* Hover styles */
/* --------------------------------------------- */

/* When tree hovered, dim all links and leaves */
.tree:hover .link,
.tree:hover .leaf {
  stroke-opacity: 0.2;
  fill-opacity: 0.2;
}

/* Restore hovered leaf, or all descendant leaves */
.tree:hover .leaf:hover,
.link:hover + .node .leaf {
  opacity: 1;
  fill-opacity: 1;
  stroke-opacity: 1;
}

/* On hover restore links back up to root, and any descendant link */
.branch:hover > .link,
.link:hover + .node .link {
  opacity: 1;
  stroke-opacity: 1;
}
